{% extends 'base_page.html' %}

{% set title='dictionary' %}

{% block content %}

<form action="/dictionary" method="POST">
  <select class="form-select" id="language" name="language" aria-label="Default select example">
    <option value="1" selected>SWEDISH ---> ENGLISH</option>
    <option value="2">ENGLISH ---> SWEDISH</option>
  </select>
  <input type="text" id="word_to_translate" name="word_to_translate" required>
  <button type="submit">Submit</button>
</form>

<br><br><br>

<table class="table table-striped">
{% for key, value in data.items() %}
    <tr>
        <td>{{ key }} : {{ value }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
